<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710870446018-1cbifo5umcq0ueg0e4peicbhf6o4suui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710870446018-1cbifo5umcq0ueg0e4peicbhf6o4suui</string>
	<key>API_KEY</key>
	<string>AIzaSyDlk-tJ2P0iyfT3RQ6Ton_7Be4HiP3fbmg</string>
	<key>GCM_SENDER_ID</key>
	<string>710870446018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>buivanvi.FinalTerm-18120099-18120106</string>
	<key>PROJECT_ID</key>
	<string>food-recipe-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>food-recipe-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710870446018:ios:fd36e2e0778be89261f05b</string>
	<key>DATABASE_URL</key>
	<string>https://food-recipe-app-ios.firebaseio.com</string>
</dict>
</plist>